#root {
    max-width: ;
    margin: 0 !important;
    padding: 0 !important;
}

.bg-dark {
    background-color: #45595b !important;
}

.btn-primary {
    background-color: #81c408 !important;
}

.btn-primary:focus {
    border: 1.5px solid #81c408 !important;
    outline: 1px solid #81c408 !important;
}

.btn-primary:hover {
    background-color: #FFB524 !important;
    border: 2px solid #81c408 !important;
}

.form-control:focus {
    border: 1.5px solid #81c408;
    outline: 1px solid #81c408;
}

.text-primary {
    color: #81c408 !important;
}

.text-secondary {
    color: #FFB524 !important;
}

.text a {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn-outline-secondary:hover {
    background-color: #FFB524;
    color: black;
}

.btn-outline-secondary {
    color: #FFB524;
    text-align: center;
    border: 1px solid #FFB524;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5) !important;
    text-align: start;
}

.btn-link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5) !important;
    font-weight: normal;
}

.border-secondary {
    border: 1px solid #FFB524 !important;
}

.border-secondary:active {
    background-color: #FFB524 !important;
}

.text-white a {
    text-decoration: none;
    color: #81c408 !important;
}

.text-light a {
    text-decoration: none;
    color: #81c408 !important;
}